<h1>WishList</h1>
<ul>
{{#each items}}
	<li>
		<p>{{this.id}}. {{this.name}}. {{this.brand}}. {{this.color}}
		<form action="/delete?_method=DELETE" method="POST">
		<input type="hidden" name="id" value="{{this.id}}">
		<button type ="submit">DELETE</button>
		</form>
		</p>
	</li>
{{/each}}
</ul>	

<!-- Add New item to list !-->
<h2>Add An Item to Your List</h2>	
	<form method="POST" action="/create">
	<textarea type="text" name="item"></textarea>
	<textarea type="text" name="brand"></textarea>
	<textarea type="text" name="color"></textarea>	
	<button type="submit">Save</button>


<!-- Update an item !-->
<h2>Update An Item</h2>	
	<form method="POST" action="/update?_method=PUT">
	<input type="text" name="id" placeholder="id">
	<textarea type="text" name="item" placeholder="What would you like to update this to?"></textarea>	
	<button type="submit">UPDATE ITEM</button>
