<div id = "myacdet">
        <p>Name: </p><p class = "htdispname">{{this.fname}}</p><p class = "htdispname">{{this.lname}}</p>
         <p>Email :</p><p id = "htdispemail">{{this.emailid}}</p>
         <p>ID: </p><p id = "htdispid">{{this.id}}</p>

</div>
<div id = "create">
      <h2>Create Wish Lsit</h2>
      <form class = "wlist">
         <input type = "text"  id = "wlistname" name = "wlistname" placeholder="wish list name">

         <button id = "createwl">Create Wish Lsit</button>
     </form>

</div>
<div id = "mywishlist">
   <h3>My Wish Lsit </h3>
   {{#each wlist}}
         <p>{{this.product_desc}}</p>
        <p>{{this.product_price}}</p>

   {{/each}}
</div>
